
@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular-webfont.woff2') format('woff2'),
         url('../font/opensans-regular-webfont.woff') format('woff');
}

* {
	box-sizing: border-box;
	font-family: open_sansregular;
}

body {
	margin: 0;
	padding: 0;
}

section.home {
	background-image: url("../img/main-banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	position: relative;
}

.white {
	color: white;
	
}
.orange {
	color: #DF4507;

}

.gray {
	color: gray;
}

.black {
	color: black;
}




nav.navbar {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
   padding-top: 20px;
}

div.logo{
	position: relative;
    left: -100px;
    font-size: 20px;
}


ul.main_menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: none;
	justify-content: flex-end;
}

ul.main_menu li {
	margin-right: 15px;

}

ul.main_menu li a {
	text-decoration: none;
	display: block;
	color: white;
	padding: 10px;
    font-size: 20px;
}

div.menu{
	display: flex;
	position: relative;
}

div.menu_toggle {
    position: relative;
    left: 130px;
}

div.menu_toggle img {
	width: 20px;
}
div.menu_toggle span {
	color: white;
}



ul.main_menu.visible {
    display: block;
    position: absolute;
    top: 26px;
    right: -190px;
}

ul.main_menu.visible li a:hover{
	color: #DF4507;
}



div.headline {
	display: block;
	margin-top: 120px;
    text-align: center;
}

div.headline h1 {
	font-size: 60px;
}

div.headline p{
	font-size: 20px;
}

div.home_links{
	display: block;
    position: relative;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    top: 40px;
}

a.hire_us {
    position: relative;
    text-decoration: none;
    color: white;
    border: solid 1px white;
    padding: 7px 25px;
    border-radius: 10px;
    text-align: center;
    width: 145px;
    display: inline-block;
   
}

a.our_works {
	position: relative;
    text-decoration: none;
    color: white;
    border: solid 1px white;
    padding: 7px 25px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}


a.hire_us:hover, a.our_works:hover {
	background-color: #DF4507;
}

div.arrow_down{
	display: block;
	position: relative;
	top: 150px;
}

div.arrow_down a img{
	display: block;
	margin:0 auto;
}

/*SERVICES SECTION*/

section#services{
	position: relative;
	display:flex;
	background-color: white;
	max-width: 800px;
	width: 100%;
    margin: 50px auto;
    flex-wrap: wrap;
}

section#services article{
	color: gray;
    margin: 20px auto;
    margin-bottom: 80px;
    width: 20%;
}

section#services img{
	display: block;
    margin: 50px auto;
    height:40px;
}


section#services article p, h4{
	text-align: center;
	padding: 0px 10px 0px 10px;
}


section#services article div{
	width: 142px;
	border: solid 1px gray;
	border-radius: 50%;
	margin: 0 auto;
}



/*NEWSLETTER SECTION*/

section.newsletter {
	background-image: url("../img/newsletter-background.jpg");
	background-repeat: no-repeat;
	height:170px;

}

section.newsletter form{
	max-width: 600px;
	width: 100%;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 85px;
}

section.newsletter form #email{
	max-width: 400px;
	width: 67%;
	height: 40px;
	padding-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
}

section.newsletter form #subscribe{
	max-width: 180px;
	width: 30%;
	height: 40px;
	border-radius: 10px;
	background-color: transparent;
	border: solid 1px white;
	cursor: pointer;
}

section.newsletter form #subscribe:hover{
	background-color: #DF4507;
	border-color: #DF4507;
}


/*OUR WORKS SECTIONS*/


div.headline_2{
	text-align: center;
    margin: 80px auto;
}

div.headline_2 h2{
	font-size: 35px;
}

div.picture_gallery {
	max-width: 800px;
	width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

div.picture_gallery p{
	font-size: 13px;
}

div.picture_gallery img {
	margin-right: 10px;
    margin-bottom: 10px;
    width: 90%;
}

div.portfolio_3, div.portfolio_6 img{
	margin-right: 0px;
}


div.portfolio_1,div.portfolio_2,div.portfolio_3,div.portfolio_4,div.portfolio_5,div.portfolio_6{
	position: relative;
	margin: 0 auto;
	width: 32%;
}

div.project_description{
	position:absolute;
	visibility: hidden;
	background-color: #DF4507;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0;
	width: 90%;
	height:94%;
	text-align: center;

}



div.portfolio_1:hover div.project_description {
	visibility: visible;
	opacity: 0.8;

}

div.portfolio_2:hover div.project_description {
	visibility: visible;
	opacity:0.8;
}


div.portfolio_3:hover div.project_description {
	visibility: visible;
	opacity:0.8;
}

div.portfolio_4:hover div.project_description {
	visibility: visible;
	opacity:0.8;
}

div.portfolio_5:hover div.project_description {
	visibility: visible;
	opacity:0.8;
}

div.portfolio_6:hover div.project_description {
	visibility: visible;
	opacity:0.8;
}




a.projects {
	text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    color: #DF4507;
    display: inline-block;
    border: solid 1px white;
    border-radius: 10px;
    font-size: 12px;
}

h4{

	margin-top: 50px;
}

div.part_1, div.part_2{
	display: flex;
}


div.show_more input[type="submit"] {
	padding: 10px 15px;
	font-size: 14px;
	display: block;
	margin: 50px auto;
	border-radius: 10px;
	background-color: transparent;
	cursor: pointer;
}


/*TESTEMONIALS*/

section.testimonials{
	background-image: url(../img/testimonials-background.jpg);
	background-repeat: no-repeat;
	height: 370px;
	background-size: cover;
}

section.testimonials article img{
	display: block;
	margin: 0 auto;
	padding:50px;
}
section.testimonials article p{
	text-align: center;
}

section.testimonials article p.tt{
	font-size: 18px;
}

img.arrow_left{
	position: relative;
	bottom: 230px;
	right: 430px;
}

img.arrow_right{
	position: relative;
	bottom: 370px;
	left: 430px;
}

/* SECTION TEAM*/

section#team{
	background-color: white;
	width:70%;
	margin: 0 auto;
}

div.headline_team {
	margin-bottom: 100px;
}

div.headline_team h2,p{
	text-align: center;
}



.logos img{
	width: 100px;
}
div.team_members{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

div.team_members article{
	margin-right: 10px;
	width: 20%;
}

div.team_members article:nth-child(4n){
	margin-right: 0px;
}

div.team_members img{
	width:80%; 
}

a.facebook img, a.twitter img, a.google img{
	width: 130px;
}



div.cropped_facebook{
	width: 22px;
	height: 22px;
	border: solid 1px white;
	overflow: hidden;
}
div.cropped_facebook img{
	margin: 0px 0px 0px 0px;
}

div.cropped_twitter{
	width: 22px;
	height: 22px;
	border: solid 1px white;
	overflow: hidden;
}

div.cropped_twitter img{
	margin: 0px 0px 0px -28px;
}


div.cropped_google{
	width: 22px;
	height: 22px;
	border: solid 1px white;
	overflow: hidden;
}

div.cropped_google img{
	margin:0px 0px 0px -56px;
}

div.socials{
	display: flex;
	justify-content: space-evenly;
	filter: grayscale(1);
}

img#Cat{
	margin: 0 auto;
	display: block;
	margin-bottom: 30px;
}

img#Har{
	margin: 0 auto;
	display: block;
	margin-bottom: 30px;

}

img#Jan {
	margin: 0 auto;
	display: block;
	margin-bottom: 30px;
}

img#Kev{
	margin: 0 auto;
	display: block;
	margin-bottom: 30px;
}

div.team_members h3,p{
	text-align: center;
}


div#circle_1, div#circle_2,div#circle_3,div#circle_4{
	width: 20px;
	height: 20px;
    background-color: gray;
    border: solid 1px gray;
    border-radius: 50%;
    margin-right: 10px;
}

div#circle_1{
	position: relative;
	left: 355px;
}

div#circle_2{
	position: relative;
	left: 190px;
}

div#circle_3{
	position: relative;
	left: 25px;
}

div#circle_4{
	position: relative;
	right: 140px;
}

img#Cat:hover{
	transform: scale(1.2);
	border-bottom: solid 3px #DF4507;
}

img#Har:hover{
	transform: scale(1.2);	
	border-bottom: solid 3px #DF4507;
}


img#Jan:hover{
	transform: scale(1.2);
	border-bottom: solid 3px #DF4507;
}

img#Kev:hover{
	transform: scale(1.2);
	border-bottom: solid 3px #DF4507;
}

img#Cat:hover ~ div.socials{
	filter: grayscale(0);
}

img#Cat:hover ~ div#circle_1{
	background-color: #DF4507;
}


img#Har:hover ~ div.socials{
	filter: grayscale(0);
}

img#Har:hover ~ div#circle_2{
	background-color: #DF4507;
}


img#Jan:hover ~ div.socials{
	filter: grayscale(0);
}

img#Jan:hover ~ div#circle_3{
	background-color: #DF4507;
}

img#Kev:hover ~ div.socials{
	filter: grayscale(0);
}

img#Kev:hover ~ div#circle_4{
	background-color: #DF4507;
}

/*SECTION CONTACT*/

section#contact{
	width: 100%;
	height: 600px;
	background-image: url(../img/contact-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;
}

section#contact h2{
	text-align: center;
	padding-top: 50px;
}

section#contact form{
	max-width: 600px;
	width: 100%;
	display: block;
	margin: 50px auto;
}

form div#ems {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 30px;
}

form div#ems input{
	width:47%;
	height: 30px;
	border-radius: 10px;
	background-color: white;
	border: solid 1px white;
	cursor: pointer;
	padding:15px;
}


form textarea{
	width: 96%;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 10px;
	background-color: white;
	border: solid 1px white;
	cursor: pointer;
	padding:15px;
}

form input#submit_contact{
	background-color: #DF4507;
	width:25%;
	height: 35px;
	border-radius: 10px;
	border: solid 1px #DF4507;
	cursor: pointer;
	position: relative;
	left: 10px;

}


div#form_bottom{
	display: flex;
	justify-content: space-between;
}

div.social_logos{
	display: flex;
}

div.social_logos div {
    margin-right: 10px;
}
div.fb,.tw,.go,.dr,.be{
	width: 43px;
	height: 43px;
	overflow: hidden;
}

div.fb img{
	margin: 0px 0px 0px 0px;
}

div.tw img{
	margin: 0px 0px 0px -63px;
}

div.go img{
	margin: 0px 0px 0px -126px;
}

div.dr img{
	margin: 0px 0px 0px -189px;
}

div.be img{
	margin: 0px 0px 0px -252px;
}


/*FOOTER*/

footer{
	width: 100%;
	height:80px;
	background-color: #393948;
}

footer p{
	margin: 0;
	text-align:left;
	margin-left:100px;
	padding:10px;
	line-height: 65px;
}


/*RESPONSIVE*/

@media screen and (max-width: 1300px){
div#circle_1, div#circle_2, div#circle_3, div#circle_4{
	visibility: hidden;
}


@media screen and (max-width: 898px){

}


@media screen and (max-width: 826px){
div.portfolio_1,div.portfolio_2,div.portfolio_3,div.portfolio_4,div.portfolio_5,div.portfolio_6{
		width:45%;
		left: 50px;
}

section#services article{
    width: 40%;
}

div.team_members article {
	width: 40%;
}

div.logo{
    left: 0px;
}

div.menu{
	left: -160px;
}





@media screen and (max-width: 518px){
	div.portfolio_1,div.portfolio_2,div.portfolio_3,div.portfolio_4,div.portfolio_5,div.portfolio_6{
		width:90%;
		left: 30px;
}

section#services article{
    width: 80%;
}

div.team_members article {
	width: 80%;
}

div#form_bottom{
    flex-direction: column;
}

form input#submit_contact{
	margin: 0 auto;
}

div.social_logos{
	margin:20px auto;
}
